{% extends 'base.html' %} {% block content %}
<form action="{{ url_for('insert_book') }}" method="POST">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend add-book-title-margin">Add a book</legend>
        <div class="uk-margin">
            <h4 class="add-book-title add-book-title-margin">Book title</h4>
            <input class="uk-input" id="title" name="title" type="text" placeholder="Title" required>
        </div>
        <div class="uk-margin">
            <h4 class="add-book-title add-book-title-margin">Author</h4>
            <input class="uk-input" id="author" name="author" type="text" placeholder="Author">
        </div>
        <div class="uk-margin">
            <h4 class="add-book-title add-book-title-margin">Year of publishing</h4>
            <input class="uk-input" id="year" name="year" type="text" placeholder="Year of publishing">
        </div>
        <div class="uk-margin">
            <label><h4 class="add-book-title add-book-title-margin">Select genre</h4></label>
            <div class="uk-form-controls">
                <select class="uk-select" id="genre" name="genre">
                    <option value="" disabled selected>Select genre</option>
                    {% for cat in categories %}
                        <option>{{ cat.category_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="uk-margin">
            <h4 class="add-book-title add-book-title-margin">Book description</h4>
            <textarea class="uk-textarea" rows="5" id="description" name="description" type="text" placeholder="Description"></textarea>
        </div>
    </fieldset>


    <button class="uk-button uk-button-primary uk-animation-shake add-book-title-button" type="submit" name="action">Add Book</button>
</form> {% endblock%}