<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />
    <title>The Lost Page</title>
</head>

<body>

    <nav class="uk-navbar-container uk-margin uk-visible@s" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left">
                <div>
                    <ul class="uk-navbar-nav">
                        <li class="main-nav"><a href="{{url_for('index')}}">Home</a></li>
                        <li class="main-nav"><a href="{{url_for('books')}}">Books</a></li>
                        <li class="main-nav"><a href="#">Active</a></li>
                        <li><a href="#">Parent</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="uk-navbar-item uk-logo" href="#">Logo</a>
            <div class="uk-navbar-center-right">
                <div>
                    <ul class="uk-navbar-nav">
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <nav class="uk-navbar uk-navbar-container uk-hidden@s">
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-nav-primary" href="#">
                <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
            </a>

        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-item uk-logo uk-align-right uk-position-center-right" href="#">Logo</a>
        </div>




        <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">

                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li class="uk-parent">
                        <a href="#">Parent</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
                </ul>

            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!--Scripts-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>