{% extends 'base.html' %} {% block content %}

<h1>Books</h1>

<div class="container">
    <div class="row justify-content-center">
        {% for book in books %}
        <div class="card m-auto" style="width: 18rem;">
            <a href="#">
                <img src="{{book.cover_img}}" class="card-img-top card-image" alt="Image">
            </a>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{{ url_for('add_book') }}" class="btn btn-light" role="button">Add book</a>
</div>



{% endblock %}