{% extends 'base.html' %} {% block content %}

<h1>Categories</h1>
<!--
<ul uk-accordion="multiple: true">
    {% for cat in categories %}
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">{{ cat.category_name}}</a>
        <div class="uk-accordion-content">
            <div class="uk-card uk-card-body">

            </div>
        </div>
    </li>
    {% endfor%}
</ul>
-->

<ul uk-accordion>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Adventure</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Comedy</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Divination</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Fantasy</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Fiction</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Mystery</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Romance</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Nonfiction</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Science Fiction</a>
        <div class="uk-accordion-content">

        </div>
    </li>
</ul>

{% endblock content %}