{% extends 'base.html' %} {% block content %}

<h1>Categories</h1>


<ul uk-accordion>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Adventure</a>
        <div class="uk-accordion-content">
            {% for book in books %}
            <p>{{books}}</p> {% endfor %}
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Comedy</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Divination</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Fantasy</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Fiction</a>
        <div class="uk-accordion-content">
            {% for book in books %} {{fiction}} {% endfor %}
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Mystery</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">Romance</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Nonfiction</a>
        <div class="uk-accordion-content">

        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Science Fiction</a>
        <div class="uk-accordion-content">

        </div>
    </li>
</ul>

{% endblock content %}