<div class="container">
    <h6 class="share-button">Buy now from your favorite retailer:</h6><br>
    <div class="row text-center mb-4 py-2 justify-content-center">
        <div class="col-11 col-md-5 col-lg-3 buy-now-link-div p-0 my-2 mx-2">
            <a href="https://www.amazon.com/" class="buy-now-link">AMAZON</a>
        </div>
        <div class="col-11 col-md-5 col-lg-3 buy-now-link-div p-0 my-2 mx-2">
            <a href="https://www.barnesandnoble.com/" class="buy-now-link">BARNES & NOBLE</a>
        </div>
        <div class="col-11 col-md-5 col-lg-3 buy-now-link-div p-0 my-2 mx-2">
            <a href="https://www.booksamillion.com/" class="buy-now-link">BOOKS A MILLION</a>
        </div>
        <div class="col-11 col-md-5 col-lg-3 buy-now-link-div p-0 my-2 mx-2">
            <a href="https://www.indiebound.org/" class="buy-now-link">INDIEBOUND</a>
        </div>
        <div class="col-11 col-md-5 col-lg-3 buy-now-link-div p-0 my-2 mx-2">
            <a href="https://www.apple.com/apple-books/" class="buy-now-link">APPLE BOOKS</a>
        </div>
        <div class="col-11 col-md-5 col-lg-3 buy-now-link-div p-0 my-2 mx-2">
            <a href="https://play.google.com/store/books?hl=en&gl=US&pli=1" class="buy-now-link">GOOGLE PLAY STORE</a>
        </div>
    </div>
</div>