{% block delete_alert_modal %}
<div class="modal" tabindex="-1" id="confirm-delete-modal" role="dialog" data-backdrop="static" data-keyboard="false" data-target="#staticBackdrop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete this book?</h5>


            </div>
            <div class="modal-body">
                <p>You cannot undo this!</p>
            </div>
            <div class="modal-footer">
                <a id="delete-button" class="btn btn-danger" href="{{ url_for('delete_book', book_id=book._id) }}" role="button">Confirm Delete</a>
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}