<footer class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 footer-container">
            <a class="navbar-brand" href="{{url_for('index')}}"><img class="lost-logo" src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo"> The Lost Page
            </a>
        </div>
        <div class="col-12 col-md-4 social-icons-footer">
            <p class="footer-text p-0">© 2020 Renato Stanta</p>
        </div>
        <div class="col-12 col-md-4 social-icons-footer">
            <a href="https://linkedin.com/in/renato-stanta-9a8b38180" target="blank">
                <i class="fab fa-linkedin fa-2x social-icon"></i>
            </a>
            <a href="https://github.com/sWrAAb/Lost-Page" target="blank">
                <i class="fab fa-github fa-2x social-icon"></i>
            </a>
        </div>
    </div>
</footer>